DEEPGRAM_APY_KEY=cf28b577b864acd83845f7cbb43e9099cd7b9a57
LIVEKIT_WSS_URL=wss://surge-audio-tvn8r41g.livekit.cloud
LIVEKIT_API_KEY=APIzEGCiyzrKGBN
LIVEKIT_API_SECRET=Kq7Y7VYkNSavT0Kf4lCIgrhWvsVbknff7MzDnx0R7HxA