body[data-theme='light'] {
  --background: #fcfcfc;
  --workspace-bg: #f0f0f0;
  --modal-border: 1px solid #ededed;
  --pdf-viewer-sidebar: #e5e5e5;
  --secondary-background: #fcfcfc;
  --onboarding-glimpse-text: rgba(0, 0, 0, 0.6);
  --onboarding-glimpse-bg: rgba(240, 240, 240, 1);
  --onboarding-cabin-glimpse: rgba(255, 255, 255, 0.36);
  --elsewhere-opacity: 0.3;
  --background-hover: #eeeeee;
  --button-cta: #000000;
  --mic-control-guest-bg: #dfdfdf;
  --mic-control-guest-border: #d5d5d5;
  --conference-room-bg: rgba(229, 229, 229, 1);
  --button-cta-color: #ffffff;
  --button-cta-hover-color: #ffffff;
  --mic-background: #ffffff;
  --reaction-recieved: rgba(229, 229, 229, 1);
  --reaction-given: rgba(48, 211, 195, 1);
  --elsewhere-indicator-bg: rgba(255, 255, 255, 0.3);
  --error-primary: #cd3636;
  --button-cta-hover-bg: linear-gradient(180deg, #141414 0%, #464646 100%), #000;
  --switch-background: linear-gradient(90deg, #30d3c3 0%, #1a4541 100%);
  --muted-color-two: #e8e8e8;
  --muted-foreground: #858585;
  --grid-dot-color: #cccccc;
  --foreground: #000000;
  --primary: #000000;
  --card: #f4f4f4;
  --card-foreground: #000000;
  --popover: rgba(250, 250, 250, 1);
  --popover-foreground: #000000;
  --popover-foreground: #000000;
  --profile-pic-border-color: #fff;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --destructive: #cd3636;
  --primary-btn-disabled: #b4b4b4;
  --primary-btn-disabled-text: #ffffff;
  --border: #00000059;
  --input-border-active: rgba(112, 112, 112, 1);
  --input-border-inactive: rgba(216, 216, 216, 1);
  --input: #bebebe;
  --ring: #a1a1aa;
  --button-background: #e5e5e5;
  --chat-background: #f4f4f4;
  --button-foreground: #0d0d0d;
  --background-last-seen: rgba(255, 255, 255, 0.6);
  --action-tooltip-text-color: #000000;
  --sidebar-floor-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
  --last-seen-shadow: 0px 1.029px 4.118px 0px rgba(0, 0, 0, 0.06);
  --profile-pic-shadow-color: 0px 2.459px 15.492px 0px rgba(30, 30, 30, 0.23);
  --footer-shadow:
    0px 0px 8px 0px rgba(160, 160, 160, 0.379) inset,
    -2px -2px 0.5px -2px rgba(213, 213, 213, 0.5) inset,
    2px 2px 0.5px -2px rgba(216, 216, 216, 0.5) inset;

  /* Glassmorphism styles */
  --topbar-gradient: rgba(255, 255, 255, 0.9);
  --blur-effect: blur(2px);
  --blur-effect-invite: blur(3px);
  /* --cabin-background: linear-gradient(to bottom right, #f4f4f420, #f4f4f4); */
  --cabin-background: rgba(255, 255, 255, 0.36);
  --cabin-border: #fafafa;
  --cabin-title-color: #6d6d6d;
  --overlay-color: #ffffff99;
  --reconnecting-text-bg: linear-gradient(
    90.09deg,
    #b0b0b0 7.19%,
    #4b4b4b 25.97%,
    #b0b0b0 52.89%,
    #b0b0b0 70.53%,
    #606060 91.84%
  );
  --cabin-shadow: 0px 0px 12px 0px #0000000a;
  --cabin-new-shadow: 0px 0px 6px 0px rgba(162, 255, 224, 1);
  --lobby-new-shadow: 0px 0px 10px 0px rgba(162, 255, 224, 1);
  --cabin-background-hover: linear-gradient(to bottom right, #f4f4f420, #f4f4f4);
  --border-primary: #00000089 1px solid;
  --chat-heading-gradient: linear-gradient(180deg, #000000 30%, #525252 80%);
  --small-dot-gradient: linear-gradient(184.76deg, #676767 4.14%, #ffffff 129.69%);
  --input-color: #fcfcfc;
  --footer-bg: rgba(255, 255, 255, 0.6);
  --chat-sidebar-border: 0.48px solid rgba(229, 229, 229, 1);
  --chat-tab-inactive-color: #afafaf;
  --chat-tab-background: #e3e3e3;
  --gradient-shimmer-background: #e3e3e3;
  --chat-tab-shadow: 0px 3px 4px 0px rgba(204, 204, 204, 0.25) inset;
  --active-chat-tab-color: #000000;
  --calender-select: #30d3c3;
  --active-chat-tab-background: #ffffff;
  --menu-item-hover-background: #ffffff;
  --tooltip-background: linear-gradient(180deg, #ededed 0%, #ffffff 100%);
  --tooltip-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.3);
  --cabin-cta-background: #ffffff;
  --tooltip-background-top: #ffffff;
  --sidebar-chat-shadow: 0px 3.86px 23.14px 0px rgba(0, 0, 0, 0.05);
  --chat-sidebar-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.07);
  --tooltip-background-hover: rgba(244, 244, 244, 1);
  --reply-border: none;
  --today-indicator: linear-gradient(90deg, #ffffff 0%, rgba(48, 211, 195, 0.55) 100%);
  --calendar-background-left: rgba(244, 244, 244, 1);
  --messageNav-background: rgba(255, 255, 255, 0.1);
  --reply-overflow-bg: #fcfcfc;
  --show-more-bg: linear-gradient(
    180deg,
    rgba(207, 207, 207, 0.32) 0%,
    rgba(181, 181, 181, 0.36) 100%
  );
  --inviteOver-background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --inviteOver-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.44);
  --inviteOver-border: #ffffff;
  --pdf-viewer-background: rgba(255, 255, 255, 0.3);
  --muted-input: #71717a;
  --radius-primary: 6px;
  --messageNav-filter: blur(12px);
  --chat-input-background: #f4f4f4;
  --em-color-border: #ececec;
  --chat-input-border: #e1e1e1;
  --border-radius-floor: 6px;
  --background-hover-floor: #efefef;
  --text-gradient-2: linear-gradient(90deg, #4f4f4f 0%, #cacaca 100%);
  --text-gradient-3: linear-gradient(181.57deg, #000000 25.71%, #acacac 82.58%);
  --onboarder-modal-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 10px -1px #0000001a;
  --active-background-floor: #fcfcfc;
  --dropdown-bg: #fafafa;
  --calendar-header-gradient: rgba(250, 250, 250, 1);
  --update-modal-background: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(239, 239, 239, 0.8) 52.88%,
    #ffffff 100%
  );
  --active-shadow-floor: none;
  --progress-bar: linear-gradient(90deg, #1a999940 28.71%, #1a9999 95.15%);
  --active-border-floor: 1.5px solid rgba(48, 211, 195, 0.9);
  --destructive-gradient: linear-gradient(180deg, #bf4545 0%, #9a3434 100%);
  --overworld-text-color: linear-gradient(182deg, #000 40.71%, #acacac 82.58%);
  --skeleton-gradient: #f4f4f4;
  --event-default-dot-bg: #388179;

  /*---------- Calendar 2.0 Color Pallete Below ---------*/

  /* Event background for different statuses */
  --event-background-declined: linear-gradient(0deg, #fff 0%, #fff 100%);
  --event-border-declined: 1px solid #d9d9d9;
  --event-shadow-declined: 2px 2px 1px 2px #5e5e5e5f, 2px 2px 2px 4px #dfdfdf4d;
  /* Event Backgrounds - Light Theme */
  --event-light-bg-default: radial-gradient(
    60.21% 953.53% at 96.72% 100%,
    #c9f0ec 0%,
    #fcffff 100%
  );
  --event-light-bg-0: linear-gradient(90deg, #ffffff 1%, #ffbdbd 100%);
  --event-light-dot-bg-0: linear-gradient(90deg, #ff9292 0%, #ffbdbd 100%);
  --event-light-bg-1: linear-gradient(90deg, #ffffff 1%, #ffab81 100%);
  --event-light-dot-bg-1: linear-gradient(90deg, #ffa078 0%, #ffab81 100%);
  --event-light-bg-2: linear-gradient(90deg, #ffffff 1%, #ffff87 100%);
  --event-light-dot-bg-2: linear-gradient(90deg, #dfe616 0%, #ffff87 100%);
  --event-light-bg-3: linear-gradient(90deg, #ffffff 0%, #ccffb2 100%);
  --event-light-dot-bg-3: linear-gradient(90deg, #7cff57 0%, #beff9e 100%);
  --event-light-bg-4: linear-gradient(90deg, #ffffff 0%, #a0cfff 100%);
  --event-light-dot-bg-4: linear-gradient(90deg, #5db6ff 0%, #a0cfff 100%);
  --event-light-bg-5: linear-gradient(90deg, #ffffff 0%, #c2c2ff 100%);
  --event-light-dot-bg-5: linear-gradient(90deg, #9380ff 0%, #c2c2ff 100%);
  --event-light-bg-6: linear-gradient(90deg, #ffffff 0%, #c5a7ff 100%);
  --event-light-dot-bg-6: linear-gradient(90deg, #ab5dff 0%, #c5a7ff 100%);
  --event-light-bg-7: linear-gradient(90deg, #ffffff 0%, #ffc2ff 100%);
  --event-light-dot-bg-7: linear-gradient(90deg, #e561ff 0%, #ffc2ff 100%);

  /* Event Shadows - Light Theme */
  --event-light-shadow-default: 1px 10px 8px 0px rgba(0, 0, 0, 0.2);
  --event-light-shadow-0:
    0px 0px 4px 1px rgba(255, 67, 67, 0.2), 1px 1px 4px 0px rgba(255, 67, 67, 0.1);
  --event-light-shadow-1:
    0px 0px 4px 1px rgba(255, 130, 67, 0.3), 1px 1px 4px 0px rgba(255, 130, 67, 0.2);
  --event-light-shadow-2:
    0px 0px 4px 1px rgba(255, 255, 67, 0.5), 1px 1px 4px 0px rgba(255, 255, 67, 0.2);
  --event-light-shadow-3:
    0px 0px 4px 1px rgba(130, 255, 67, 0.2), 1px 1px 4px 0px rgba(130, 255, 67, 0.2);
  --event-light-shadow-4:
    0px 0px 4px 1px rgba(67, 161, 255, 0.4), 1px 1px 4px 0px rgba(67, 161, 255, 0.2);
  --event-light-shadow-5:
    0px 0px 4px 1px rgba(67, 67, 255, 0.2), 1px 1px 4px 0px rgba(67, 67, 255, 0.2);
  --event-light-shadow-6:
    0px 0px 4px 1px rgba(130, 67, 255, 0.3), 1px 1px 4px 0px rgba(130, 67, 255, 0.2);
  --event-light-shadow-7:
    0px 0px 4px 1px rgba(255, 67, 255, 0.3), 1px 1px 4px 0px rgba(255, 67, 255, 0.2);
  --event-light-shadow-dark:
    0px 0px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0.1px rgba(0, 0, 0, 0.5);
  --event-light-shadow-green:
    0px 0px 4px 0px rgba(48, 211, 195, 0.5), 0px 0px 1px 0.1px rgba(2, 90, 82, 0.3);

  /* Event Borders - Light Theme */
  --event-light-border-default: 1px solid rgba(48, 211, 195, 0.5);
  --event-light-border-0: 1px solid rgba(255, 67, 67, 0.5);
  --event-light-border-1: 1px solid rgba(255, 171, 129, 0.5);
  --event-light-border-2: 1px solid rgba(255, 255, 67, 0.5);
  --event-light-border-3: 1px solid rgba(204, 255, 178, 0.5);
  --event-light-border-4: 1px solid rgba(160, 207, 255, 0.5);
  --event-light-border-5: 1px solid rgba(194, 194, 255, 0.5);
  --event-light-border-6: 1px solid rgba(197, 167, 255, 0.5);
  --event-light-border-7: 1px solid rgba(255, 194, 255, 0.5);

  /* Event Pattern Color - Light Theme */
  --event-pattern-color: rgba(0, 0, 0, 0.4);
  /* Keep original for now */
  --event-light-pattern-color-default: #20978b;
  --event-light-pattern-color-0: #ffbdbd;
  --event-light-pattern-color-1: #ffab81;
  --event-light-pattern-color-2: #ffff87;
  --event-light-pattern-color-3: #ccffb2;
  --event-light-pattern-color-4: #a0cfff;
  --event-light-pattern-color-5: #c2c2ff;
  --event-light-pattern-color-6: #c5a7ff;
  --event-light-pattern-color-7: #ffc2ff;
  --event-dark-bg-default-hover: linear-gradient(90deg, #ffffff 40%, #1acfcf 100%);

  /* Generic Event Variables (Light Theme) */
  --event-background-default: var(--event-light-bg-default);
  --event-background-0: var(--event-light-bg-0);
  --event-background-1: var(--event-light-bg-1);
  --event-background-2: var(--event-light-bg-2);
  --event-background-3: var(--event-light-bg-3);
  --event-background-4: var(--event-light-bg-4);
  --event-background-5: var(--event-light-bg-5);
  --event-background-6: var(--event-light-bg-6);
  --event-background-7: var(--event-light-bg-7);

  --event-shadow-default: var(--event-light-shadow-default);
  --event-shadow-0: var(--event-light-shadow-0);
  --event-shadow-1: var(--event-light-shadow-1);
  --event-shadow-2: var(--event-light-shadow-2);
  --event-shadow-3: var(--event-light-shadow-3);
  --event-shadow-4: var(--event-light-shadow-4);
  --event-shadow-5: var(--event-light-shadow-5);
  --event-shadow-6: var(--event-light-shadow-6);
  --event-shadow-7: var(--event-light-shadow-7);
  --event-shadow-dark: var(--event-light-shadow-dark);
  --event-shadow-green: var(--event-light-shadow-green);

  --event-border-default: var(--event-light-border-default);
  --event-border-0: var(--event-light-border-0);
  --event-border-1: var(--event-light-border-1);
  --event-border-2: var(--event-light-border-2);
  --event-border-3: var(--event-light-border-3);
  --event-border-4: var(--event-light-border-4);
  --event-border-5: var(--event-light-border-5);
  --event-border-6: var(--event-light-border-6);
  --event-border-7: var(--event-light-border-7);
  --floor-tooltip-background: #ffffff;
  --pinned-msg-search-background: #f4f4f4;
  --pinned-actions-background: #f4f4f4;
  --pinned-filter-bg: transparent;
  --pinned-search-bg: transparent;
  --pinned-border: rgba(27, 27, 27, 0.1);
  --pinned-filter-modal-bg: rgba(244, 244, 244, 1);
  --transcript-card-background: linear-gradient(244.84deg, #d8d8d8 11.46%, #fcfcfc 113.42%);
  --ai-sidebarbackground: #f4f4f4;
  --calendar-item-title-border: rgb(38, 38, 38);
  --calendar-item-placeholder: #afafaf;
  --attendance-background: #fafafa;
  --attendance-background-selected: rgba(229, 229, 229, 1);
  --calendar-time-background: rgb(255, 255, 255);
  --transcript-box-shadow: 0px 0px 8px 0px rgba(43, 255, 255, 0.12);
  --ai-suggestion-border: linear-gradient(181.57deg, #747474 1.33%, #e8e8e8 58.21%);
  --lobby-text: linear-gradient(181.57deg, #000000 25.71%, #acacac 82.58%);
  --transcript-hover: #f0f0f0;
  --active-shadow-transcript: 0px 0px 8px 0px #a2ffe0;
  --ai-message-divider: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
}

body[data-theme='dark'] {
  --ai-message-divider: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  --lobby-text: linear-gradient(180deg, #ffffff 30%, #999999 100%);
  --button-cta: #ffffff;
  --elsewhere-opacity: 0.35;
  --button-cta-color: #000000;
  --reconnecting-text-bg: linear-gradient(
    91.25deg,
    #fafafa 10.41%,
    #606060 34.12%,
    #fafafa 48.67%,
    #fafafa 73.43%,
    #606060 90.25%
  );
  --onboarding-glimpse-text: rgba(250, 250, 250, 0.6);
  --onboarding-glimpse-bg: rgba(255, 255, 255, 0.1);
  --onboarding-cabin-glimpse: rgba(48, 48, 48, 1);
  --modal-border: 1px solid #202020;
  --pdf-viewer-sidebar: #121212;
  --grid-dot-color: #dbcece82;
  --overlay-color: #00000099;
  --show-more-bg: linear-gradient(180deg, rgba(23, 23, 23, 0.32) 0%, rgba(13, 13, 13, 0.36) 100%);
  --reaction-recieved: rgba(56, 56, 56, 1);
  --reaction-given: rgba(56, 129, 121, 1);
  --mic-background: #383838;
  --elsewhere-indicator-bg: #222326;
  --conference-room-bg: #141414;
  --reply-overflow-bg: #141414;
  --muted-input: #383838;
  --today-indicator: linear-gradient(90deg, #141414 0%, #164f4f 100%);
  --muted-foreground: #71717a;
  --mic-control-guest-border: #383838;
  --inviteOver-shadow: 0px 0px 26px 0px #000000;
  --blur-effect-invite: blur(8px);
  --mic-control-guest-bg: linear-gradient(
    180deg,
    rgba(23, 23, 23, 0.4) 0%,
    rgba(13, 13, 13, 0.5) 100%
  );
  --input-border-active: rgba(255, 255, 255, 0.24);
  --input-border-inactive: rgba(32, 32, 32, 1);
  --primary-btn-disabled: #252525;
  --primary-btn-disabled-text: #1a1a1a;
  --muted-color-two: none;
  --switch-background: none;
  --error-primary: #cd3636;
  --em-color-border: #000000;
  --footer-bg: linear-gradient(180deg, rgba(23, 23, 23, 0.8) 0%, rgba(13, 13, 13, 0.9) 100%);
  --button-cta-hover-bg: linear-gradient(
    180deg,
    rgba(251, 251, 253, 0.75) 0.64%,
    rgba(255, 255, 255, 0.75) 13.7%,
    rgba(227, 233, 238, 0.75) 35.53%,
    rgba(214, 223, 230, 0.75) 62.13%,
    rgba(184, 201, 211, 0.75) 99.48%
  );
  --text-gradient-2: linear-gradient(90deg, #dbdbdb 30%, #6e6e6e 100%);
  --text-gradient-3: linear-gradient(180deg, #ffffff 30%, #999999 100%);
  --button-cta-hover-color: #000000;
  --sidebar-chat-shadow: 0px 1.89px 13.23px 0px rgba(255, 255, 255, 0.03);
  --background: #0d0d0d;
  --chat-sidebar-shadow: 0px 2px 14px 0px rgba(255, 255, 255, 0.03);
  --input-box-stroke: none;
  --profile-pic-border-color: none;
  --secondary-background: #121212;
  --chat-background: #121212;
  --chat-tab-background: #303030;
  --gradient-shimmer-background: #1f1f1f;
  --chat-tab-shadow: 0px 3px 4px 0px rgba(24, 24, 24, 0.25) inset;
  --foreground: #fafafa;
  --primary: #fafafa;
  --card: #141414;
  --button-background: #282828;
  --button-foreground: #fafafa;
  --calender-select: #30d3c3;
  --update-modal-background: linear-gradient(90deg, #141414 0%, #242424 53%, #141414 100%);
  --back-to-workspace-button: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.43),
    rgba(255, 255, 255, 0.13),
    rgba(255, 255, 255, 0.25)
  );
  --footer-shadow: inset 2px 2px 4px -1px rgb(23, 23, 23);
  --background-last-seen: #222326;
  --card-foreground: #fafafa;
  --popover: #0d0d0d;
  --popover-foreground: #fafafa;
  --muted: #303030;
  --muted-foreground: #a1a1aa;
  --destructive: #cd3636;
  --border: #202020;
  --input: #202020;
  --small-dot-gradient: linear-gradient(180deg, #ffffff 30%, #999999 100%);
  --ring: #71717a;
  --onboarder-modal-shadow:
    0px 0px 10px 0px rgba(106, 106, 106, 0.16), 0px 0px 8px 0px rgba(68, 68, 68, 0.06);
  --cabin-background: #1e1f22;
  --cabin-shadow: none;
  --cabin-new-shadow: 0px 0px 12px 0px rgba(0, 129, 116, 0.4);
  --lobby-new-shadow:
    0px 0px 2px 2px rgba(48, 211, 195, 0.1), 0px 0px 8px 0px rgba(48, 211, 195, 0.3);
  --cabin-border: none;
  --cabin-title-color: #f5f5f6;
  --cabin-background-hover: linear-gradient(to bottom right, #1e1f22, #1e1f22);
  --cabin-cta-background: linear-gradient(180deg, #1e1f22 0%, #2c2c2c 100%);
  --tooltip-background: linear-gradient(180deg, #1e1f22 0%, #2c2c2c 100%);
  --tooltip-background-top: #2c2c2c;
  --tooltip-background-hover: #1f1f1f;
  --tooltip-shadow:
    0px 0px 20px 0px rgba(37, 42, 60, 0.15) inset, 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
  --action-tooltip-text-color: #fafafa;
  /* Glassmorphism styles */
  --topbar-gradient: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.9) 68.86%,
    rgba(23, 23, 23, 0.8) 100%
  );
  --onboard-modal-border: rgba(56, 56, 56, 0.3);
  --blur-effect: blur(2px);
  --chat-heading-gradient: linear-gradient(180deg, #ffffff 10%, #999999 100%);
  --progress-bar: linear-gradient(90deg, #fff 30%, #999 100%);
  --input-color: #000000;
  --chat-tab-inactive-color: #858585;
  --active-chat-tab-color: #ffff;
  --calendar-background-left: #121212;
  --active-chat-tab-background: #000000;
  --menu-item-hover-background: #282828;
  --reply-border: #282828;
  --messageNav-background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.2) 0%,
    rgba(9, 9, 11, 0.2) 52.5%,
    rgba(13, 13, 13, 0.2) 100%
  );
  --inviteOver-background: linear-gradient(
    90deg,
    rgba(13, 13, 13, 0.7) 0%,
    rgba(48, 48, 48, 0.7) 100%
  );
  --pdf-viewer-background: linear-gradient(
    180deg,
    rgba(13, 13, 13, 0.5) 0%,
    rgba(9, 9, 11, 0.5) 52.5%,
    rgba(13, 13, 13, 0.5) 100%
  );
  --messageNav-filter: blur(12px);
  --chat-input-background: #0d0d0d;
  --chat-input-border: #202020;
  --border-radius-floor: 6px;
  --background-hover: #1f1f1f;
  --dropdown-bg: #1b1b1b;
  --calendar-header-gradient: linear-gradient(180deg, #09090b 0%, #09090b 100%);
  --skeleton-gradient: #1f1f1f;
  --active-shadow-floor: 0px 0px 10px 0px rgba(21, 21, 21, 0.7);
  --background-hover-floor: #383838;
  --active-border-floor: 0.5px solid rgba(146, 146, 146, 0.7);
  --active-background-floor: #1b1b1b;
  --destructive-gradient: linear-gradient(180deg, #bf4545 0%, #9a3434 100%);
  --overworld-text-color: linear-gradient(180deg, #ffffff 30%, #999999 100%);
  --chat-sidebar-border: 0.48px solid #202020;
  --event-default-dot-bg: #388179;
  --transcript-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.1);
  --active-shadow-transcript: 1px 1px 30px 0px #30d3c336;
  /*---------- Calendar 2.0 Color Pallete Below ---------*/
  /* Event background for different statuses */

  --event-background-declined: linear-gradient(0deg, #262626 0%, #191919 100%);
  --event-border-declined: 1px solid #3b3b3b;
  --event-shadow-declined: 0px 0px 0px #f5f5f6b2, 0px 0px 2px 0px #f5f5f64d;

  /* Event Backgrounds - Dark Theme */
  --event-dark-bg-default: linear-gradient(90deg, #141414 0%, #164f4f 100%);
  --event-dark-bg-default-hover: linear-gradient(90deg, #141414 40%, #164f4f 100%);
  --event-dark-bg-0: linear-gradient(90deg, #141414 0%, #4f1616 100%);
  --event-dark-dot-bg-0: linear-gradient(90deg, #690c0c 0%, #4f1616 100%);
  --event-dark-bg-1: linear-gradient(90deg, #141414 0%, #4f2916 100%);
  --event-dark-dot-bg-1: linear-gradient(90deg, #963813 0%, #4f2916 100%);
  --event-dark-bg-2: linear-gradient(90deg, #141414 10%, #4f4c16 90%);
  --event-dark-dot-bg-2: linear-gradient(90deg, #846910 10%, #4f4c16 90%);
  --event-dark-bg-3: linear-gradient(90deg, #141414 0%, #294f16 100%);
  --event-dark-dot-bg-3: linear-gradient(90deg, #136f20 0%, #294f16 100%);
  --event-dark-bg-4: linear-gradient(90deg, #141414 0%, #16334f 100%);
  --event-dark-dot-bg-4: linear-gradient(90deg, #112e6d 0%, #16334f 100%);
  --event-dark-bg-5: linear-gradient(90deg, #141414 0%, #16164f 100%);
  --event-dark-dot-bg-5: linear-gradient(90deg, #130b67 0%, #16164f 100%);
  --event-dark-bg-6: linear-gradient(90deg, #141414 0%, #29164f 100%);
  --event-dark-dot-bg-6: linear-gradient(90deg, #350b70 0%, #29164f 100%);
  --event-dark-bg-7: linear-gradient(90deg, #141414 0%, #4f164f 100%);
  --event-dark-dot-bg-7: linear-gradient(90deg, #620b59 0%, #4f164f 100%);

  /* Event Shadows - Dark Theme */
  --event-dark-shadow-default: 1px 1px 8px 0px rgba(67, 255, 255, 0.3);
  --event-dark-shadow-0:
    0px 0px 4px 0px rgba(255, 67, 67, 0.2), 1px 1px 6px 0.1px rgba(255, 67, 67, 0.3);
  --event-dark-shadow-1: 0px 0px 4px 1px #4f2916a9;
  --event-dark-shadow-2: 1px 1px 4px 1px #ffff434d;
  --event-dark-shadow-3: 1px 1px 4px 1px #82ff434d;
  --event-dark-shadow-4: 1px 1px 4px 1px #43a1ff4d;
  --event-dark-shadow-5: 1px 1px 4px 1px #4343ff4d;
  --event-dark-shadow-6: 1px 1px 4px 1px #8243ff4d;
  --event-dark-shadow-7: 1px 1px 4px 1px #ff43ff4d;
  --event-dark-shadow-dark:
    0px 0px 4px 0px rgba(255, 255, 255, 0.3), 0px 0px 1px 0.1px rgba(255, 255, 255, 0.7);
  --event-dark-shadow-green:
    0px 0px 4px 0px rgba(67, 255, 255, 0.3), 0px 0px 1px 0.1px rgba(67, 255, 255, 0.7);

  /* Event Borders - Dark Theme */
  --event-dark-border-default: 1px solid rgba(22, 79, 79, 1);
  --event-dark-border-0: 1px solid #6f1111;
  --event-dark-border-1: 1px solid #4f2916;
  --event-dark-border-2: 1px solid #4f4c16;
  --event-dark-border-3: 1px solid #294f16;
  --event-dark-border-4: 1px solid #16334f;
  --event-dark-border-5: 1px solid #16164f;
  --event-dark-border-6: 1px solid #29164f;
  --event-dark-border-7: 1px solid #4f164f;

  /* Event Pattern Color - Dark Theme */
  --event-pattern-color: rgba(0, 0, 0, 0.5);
  /* Keep original for now */
  --event-dark-pattern-color-default: rgb(49, 134, 134);
  /* --event-dark-pattern-color-0: #4F1616;
  --event-dark-pattern-color-1: #4F2916;
  --event-dark-pattern-color-2: #4f4c16;
  --event-dark-pattern-color-3: #294F16;
  --event-dark-pattern-color-4: #16334F;
  --event-dark-pattern-color-5: #16164F;
  --event-dark-pattern-color-6: #29164F;
  --event-dark-pattern-color-7: #4F164F; */

  /* Generic Event Variables (Dark Theme) */
  --event-background-default: var(--event-dark-bg-default);
  --event-background-0: var(--event-dark-bg-0);
  --event-background-1: var(--event-dark-bg-1);
  --event-background-2: var(--event-dark-bg-2);
  --event-background-3: var(--event-dark-bg-3);
  --event-background-4: var(--event-dark-bg-4);
  --event-background-5: var(--event-dark-bg-5);
  --event-background-6: var(--event-dark-bg-6);
  --event-background-7: var(--event-dark-bg-7);

  --event-shadow-default: var(--event-dark-shadow-default);
  --event-shadow-0: var(--event-dark-shadow-0);
  --event-shadow-1: var(--event-dark-shadow-1);
  --event-shadow-2: var(--event-dark-shadow-2);
  --event-shadow-3: var(--event-dark-shadow-3);
  --event-shadow-4: var(--event-dark-shadow-4);
  --event-shadow-5: var(--event-dark-shadow-5);
  --event-shadow-6: var(--event-dark-shadow-6);
  --event-shadow-7: var(--event-dark-shadow-7);
  --event-shadow-dark: var(--event-dark-shadow-dark);
  --event-shadow-green: var(--event-dark-shadow-green);

  --event-border-default: var(--event-dark-border-default);
  --event-border-0: var(--event-dark-border-0);
  --event-border-1: var(--event-dark-border-1);
  --event-border-2: var(--event-dark-border-2);
  --event-border-3: var(--event-dark-border-3);
  --event-border-4: var(--event-dark-border-4);
  --event-border-5: var(--event-dark-border-5);
  --event-border-6: var(--event-dark-border-6);
  --event-border-7: var(--event-dark-border-7);
  --floor-tooltip-background: #1f1f21;
  --pinned-msg-search-background: rgba(0, 0, 0, 1);
  --pinned-actions-background: rgba(13, 13, 13, 1);
  --pinned-filter-bg: rgba(56, 56, 56, 0.3);
  --pinned-search-bg: rgba(20, 20, 20, 1);
  --pinned-border: rgba(27, 27, 27, 1);
  --pinned-filter-modal-bg: rgb(10, 10, 10);
  --transcript-card-background: linear-gradient(244.84deg, #090909 11.46%, #1e1e1e 113.42%);
  --ai-sidebarbackground: rgba(18, 18, 18, 0.2);
  --calendar-item-title-border: #b4b4b4;
  --calendar-item-placeholder: #858585;
  --attendance-background: rgba(27, 27, 27, 1);
  --attendance-background-selected: rgba(13, 13, 13, 1);
  --calendar-time-background: #202020;
  --ai-suggestion-border: linear-gradient(181.57deg, #acacac 1.33%, #3a3a3a 58.21%);
  --transcript-hover: rgba(255, 255, 255, 0.05);
}

/* border-radius: 14.8px;
border: 2px solid var(--input-box-stroke, rgba(245, 245, 246, 0.20));
background: linear-gradient(251deg, rgba(255, 255, 255, 0.10) -0.91%, rgba(255, 255, 255, 0.00) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
backdrop-filter: blur(24.666667938232422px); */
